@using la_mia_pizzeria_static.Data;
@model PizzaFormModel

@{
    Layout = "_PizzeriaLayout";
    ViewData["Title"] = "Crea nuova pizza";
}

@if (User.IsInRole("ADMIN"))
{
<div>
    <div class="wrapper">
        <div class="form-container">
            <form asp-controller="Pizza" asp-action="Create" method="post">
                @Html.AntiForgeryToken()

                <div>
                    <label for="inputNome">Inserisci il nome:</label>
                    <br />
                    <input asp-for="Pizza.Nome" class="create-input" id="inputNome"/>
                    <br />
                    <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
                </div>
                <div>
                    <label for="InputDescrizione">Inserisci gli ingredienti:</label>
                    <br />
                    <input asp-for="Pizza.Descrizione" class="create-input" id="inputDescrizione"/>
                    <br />
                    <span asp-validation-for="Pizza.Descrizione" class="text-danger"></span>
                </div>
                <div>
                    <label for="inputFotoPath">Inserisci la foto:</label>
                    <br />
                    <input asp-for="Pizza.FotoPath" class="create-input" id="inputFotoPath"/>
                    <br />
                    <span asp-validation-for="Pizza.FotoPath" class="text-danger"></span>
                </div>
                <div>
                    <label for="inputPrezzo">Inserisci un prezzo:</label>
                    <br />
                    <input asp-for="Pizza.Prezzo" class="create-input" id="inputPrezzo" />
                    <br />
                    <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
                </div>
                <strong>Categoria:</strong>
                <select asp-for="Pizza.CategoriaId" rows="10" class="d-block w-100">
                    <option value=""></option>
                    @foreach (Categoria categoria in Model.Categorie)
                    {
                        @if (Model.Pizza.CategoriaId == categoria.Id)
                        {
                            <option value="@categoria.Id" selected>@categoria.Titolo</option>
                        }
                        else
                        {
                            <option value="@categoria.Id">@categoria.Titolo</option>
                        }
                    }
                </select>
                <div>
                    <strong>Ingredienti: </strong>
                    @for (int i = 0; i < Model.Ingredienti.Count; i++)
                    {
                        <div>
                            <input type="checkbox" name="SelectedTags" value="@Model.Ingredienti[i].Value"
                            @(Model.IngredientiSelezionati.Contains(Model.Ingredienti[i].Value) ? "checked" : "") />
                            @Model.Ingredienti[i].Text
                        </div>
                    }
                </div>
                <div>
                    <input type="submit" class="submit-button" value="Salva">
                </div>
            </form>
        </div>
    </div>
    </div>
}
else
{
    <p>WRONG NEIGHBORHOOD DAWG</p>    
}
